.main {
    display: flex;
}

.nav {
    flex-grow: 0.2;
    font-size: 16pt;
}

.graphicContainer {
    flex-grow: 0.6;
}
.infoContainer {
    flex-grow: 0.2;
}

h1 {
    font-weight: bold;
    font-size: 20pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 16pt;
}

nav ul {
    alignment: center;
    height: 880px;
    overflow:hidden;
    overflow-y:scroll;
}



